/* Remove the  navbar's default rounded borders and increase the bottom margin */
.navbar
{
    margin-bottom: 50px;
    border-radius: 0;
    background-color: #01A2A6;
}

body
{
    background-color: white;
}

a
{
    color: #FFFFF0;
    font-family: 'Vollkorn', Georgia, Times, serif;
}

p
{
    color: white;
    font-size: 16px;
    font-family: 'Vollkorn', Georgia, Times, serif;
}

#section2Header
{
    padding-top: 50px;
    color: #2F2933;
    font-size: 18px;
}

#listItems
{
    color: #2F2933;
    font-size: 16px;
    font-family: 'Vollkorn', Georgia, Times, serif;
}


#subtitle
{
    font-family: 'Vollkorn', Georgia, Times, serif;
    font-size: 26px;
    line-height: 25px;
    color: #FFFFA6;
}

#title
{
    color: #FFFFF0;
    font-size: 64px;
    padding-top: 20px;
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
}

#section1
{
    padding-top:50px;
    height:275px;
    color: #fff;
    background-color: #01A2A6;
}

#section2
{
    padding-top:15px;
    height:500px;
    color: #aaa;
    background-color: #FFFFF0;
}

#section3
{
    padding-top:15px;
    height:500px;
    color: #fff;
    background-color: #01A2A6;
}