<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="js/controller.js"></script>
<body>


<div ng-app="myApp">

    <!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" type="image/jpg" href="/favicon.jpg"/>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

        <title>Fenrir's Page</title>


        <style>
                        /* Remove the navbar's default rounded borders and increase the bottom margin */
            .navbar {
              margin-bottom: 50px;
              border-radius: 0;
            }

            /* Remove the jumbotron's default bottom margin */
             .jumbotron {
              margin-bottom: 0;
            }

            /* Add a gray background color and some padding to the footer */
            footer {
              background-color: #f2f2f2;
              padding: 25px;
            }

            [ng\:cloak], [ng-cloak], .ng-cloak {
              display: none;
             }

        </style>

    </head>
<body>

    <div class="jumbotron">
      <div class="container text-center">
        <h1>Projects and Experience</h1>  </div>
    </div>

    <div class="row">
        <div class="col-md-12">
         <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">

              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

              <a class="navbar-brand" href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">

              <ul class="nav navbar-nav">
                <li><a href="about.html">About</a></li>
                <li><a href="projects.html">Projects and Experience</a></li>
                <li><a href="contact.html">Contact</a></li>
              </ul>

            </div>
         </div>
        </nav>
        </div>
    </div>


<div class="container-fluid">

  <div class="row" >
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img ng-src="{{image_src}}" alt="Polarity">
        <div class="caption">
          <h3>Polarity</h3>
          <pre class="text-info">Polarity is a Lovecraft inspired sidescrolling
platformer written in Java. Dive into unravelling
layers of reality and uncover new powers, and
dark secrets...</pre>

          <p ng-model="thumbnail" ng-change="changePicture(thumbnail)" ng-init="image_src = 'img/Polarity.png'">
            <button ng-click="image_src = 'img/Polarity.png'">1</button>
            <button ng-click="image_src = 'img/Polarity1.png'">2</button>
            <button ng-click="image_src = 'img/Polarity2.png'">3</button>
            <button ng-click="image_src = 'img/Polarity3.png'">4</button>
          </p>

      </div>
    </div>
  </div>

      <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img ng-src="{{image_src2}}" alt="Polarity">
        <div class="caption">
          <h3>Ericsson Canada</h3>
          <pre class="text-info">Working as an intern for Ericsson Canada, I have
developed a greater understanding of enterprise
level design, and gained knowledge and experience
with the premier web design technologies.</pre>

          <p ng-model="thumbnail" ng-change="changePicture(thumbnail)" ng-init="image_src2 = 'img/EricssonLogo.jpg'">
          </p>

      </div>
    </div>
  </div>

      <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img ng-src="{{image_src3}}" alt="Polarity">
        <div class="caption">
          <h3>Western University</h3>
          <pre class="text-info">Where I gained extensive experience with OO design.
I will be completing my Honours Specialization
in Computer Science, with a minor in Video Game
Design.</pre>

          <p ng-model="thumbnail" ng-change="changePicture(thumbnail)" ng-init="image_src3 = 'img/MC.jpg'">
          </p>

      </div>
    </div>
  </div>






  </div> <!-- end of row -->

  </div> <!-- end of container -->

</body>
</html>


</div>



</body>
</html>
